@import "./src/scss/variables";

.tabsBox {
  width: 100%;
  padding: 50px;
  background: lightgrey;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.tabsCont {
  width: 70%;
  height: 400px;
  background: white;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabsNav {
  width: 30%;
  overflow-y: scroll;
  background: grey;
}

.tabsNavItem {
  transition: 0.5s;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  color: black;
  font-size: 16px;

}

.tabsNavItemActive {
  transition: 0.5s;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.tabNavIcon {
  transition: 0.5s;
  margin-left: 5%;
  color: black;
}

.tabNavIconActive {
  color: white;
  transition: 0.5s;
  margin-left: 5%;
  transform: rotate(180deg);
}

.tabsContItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
}

.tabSpinner {
  animation: rotation 0.7s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}