@import "./src/scss/variables";

.weare {
	width: 100%;
	background: black;
	display: flex;

	.weImgBox {
		width: 60%;
		overflow: hidden;

		.weImg {
			max-width: 130%;
		}
	}

	.textBox {
		width: 40%;
		padding: 5%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.banner1 {
			font-size: 50px;
			font-weight: bold;
			color: $title-color;
			text-align: left;
		}

		.banner2 {
			font-size: 18px;
			color: $title-color;
			text-align: left;
		}

		.btnBanners {
			margin-top: 20px;
			border: 1px solid grey;
			color: grey;
			width: 200px;
			padding: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: 1s;

			&:hover {
				transition: 1s;
				background: grey;
				color: black;
			}
		}
	}
}

.arrowR {
	margin-left: 10%;
}