@import "src/scss/variables";

* {
  box-sizing: border-box;
}

//correction for nuka-carousel
.slider-slide:focus,
.slider-control-centerleft button:focus,
.slider-control-centerright button:focus,
.paging-item button:focus {
  outline: none !important;
}

.carouselContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 9996;
}

.carouselElement {
  //   width: 350px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .hoverDiv {
      top: 5%;
      transition: 0.7s;
    }

    .projectTitle {
      transition: 0.7s;
      left: 50% !important;
      transform: translateX(-50%);
      opacity: 1;
    }

    .projectDesc {
      transition: 0.7s;
      right: 50% !important;
      transform: translateX(50%);
      opacity: 1;
    }
  }

  .carouselImg {
    height: 120%;
    // height: auto;
  }
}
