@import "src/scss/variables";

* {
  box-sizing: border-box;
}

//correction for nuka-carousel
.slider-slide:focus,
.slider-control-centerleft button:focus,
.slider-control-centerright button:focus,
.paging-item button:focus {
  outline: none !important;
}

.carouselContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9996;
}

.carouselElement {
  //   width: 350px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;



  .carouselImg {}
}