// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap


//============MIN WIDTH

//================
//  Large devices (large desktops, 2300px and up)
//================

@media (min-width: 2300px) {
	.textBoxWeDo {
		width: 50% !important;
	}
}

//================
//  Large devices (large desktops, 1400px and up)
//================

@media (min-width: 1400px) {
	.carouselImg {

		width: 100% !important;
	}

	.tabsContItem {
		font-size: 22px !important;
	}
}

//================
//  Large devices (large desktops, 1800px and up)
//================

@media (min-width: 1800px) {


	.tabsContItem {
		font-size: 26px !important;
	}
}



//============MAX WIDTH


//================
// Large devices (large desktops, 1350px and down)
//================

@media (max-width: 1350px) {


	.weImg {
		max-width: 180% !important;
	}
}

//================
// Large devices (large desktops, 1200px and down)
//================

@media (max-width: 1200px) {
	.cardContText {
		font-size: 17px !important;
	}

	.card {
		width: 35% !important;
		margin: 10px !important;
	}


}

//================
// Medium devices (desktops, 992px and down)
//================

@media (max-width: 992px) {
	.navFooterContainer {
		flex-direction: column !important;
		width: 100%;
	}

	.footer {
		height: 500px !important;
	}

	.cards {
		flex-direction: column !important;
		padding: 20px !important;
	}

	.card {
		width: 80% !important;
	}

	.contacts {
		flex-direction: column !important;
	}

	.contactsSx {
		width: 70% !important;
	}

	.contactsForm {
		width: 95% !important;
	}

	.tabsBox {
		flex-direction: column !important;
		align-items: center !important;
	}

	.tabsCont {
		width: 100% !important;
		height: auto !important;
	}

	.tabsNav {
		width: 100% !important;
	}

	.tabsContItem {

		font-size: 15px !important;
	}

	.tabsNavItem {
		font-size: 13px !important;
	}

	.tabsNavItemActive {
		font-size: 14px !important;
	}


	.weImgBoxWeDo,
	.weImgBox {
		width: 100% !important;

	}

	.weImg {
		max-width: 300% !important;
	}

	.weare,
	.wedo {
		position: relative !important;

	}

	.textBoxWeDo,
	.textBox {
		position: absolute !important;
		top: 20%;
		left: 20%;

	}
}


//================
// Small devices (tablets, 768px and down)
//================

@media (max-width: 768px) {
	.nameLastName {
		flex-direction: column !important;

	}

	.formInputBoxName {
		width: 100% !important;
	}

	.navbar {
		height: auto !important;
		flex-direction: column;
		padding: 20px !important;
		background: $nav-background-color-nav !important;
		z-index: 9990 !important;
		justify-content: flex-start;
	}



	.rightNavbar {
		width: 100%;
		padding: 0 15%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 200px !important;
	}

	.leftNavbar {
		width: 100% !important;
		display: flex;
		justify-content: center;
	}

	.showNavBtn {
		display: block !important;
		position: fixed;
		top: 20px;
		left: 20px;
		z-index: 9999 !important;
	}



	.hide {
		display: none !important;
	}


}

//================
// Extra Small devices (tablets, 600px and down)
//================

@media (max-width: 600px) {
	.submitBtn {
		width: 100% !important;
	}

	.textHomeBox {
		align-items: center !important;
		left: 50% !important;
		transform: translateX(-50%);
	}

	.home1 {
		font-size: 50px !important;
	}

	.home2 {
		font-size: 17px !important;

	}
}

//================
// Extra Small devices (tablets, 450px and down)
//================

@media (max-width: 450px) {
	.error {
		font-size: 8px !important;
	}

	.ctitle {
		font-size: 60px !important;
	}
}

//=====================******************