// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

//================
// Super Large devices (large desktops, 2000px and down)
//================

@media (max-width: 2000px) and (min-width: 1400px) {}

//================
// Large devices (large desktops, 1400px and down)
//================

@media (max-width: 1200px) {
	.cardContText {
		font-size: 17px !important;
	}

	.card {
		width: 35% !important;
		margin: 10px !important;
	}
}

//================
// Medium devices (desktops, 992px and down)
//================

@media (max-width: 992px) {
	.navFooterContainer {
		flex-direction: column !important;
		width: 100%;
	}

	.footer {
		height: 500px !important;
	}

	.cards {
		flex-direction: column !important;
		padding: 20px !important;
	}

	.card {
		width: 80% !important;
	}

	.contacts {
		flex-direction: column !important;
	}

	.contactsSx {
		width: 70% !important;
	}

	.contactsForm {
		width: 95% !important;
	}
}


//================
// Small devices (tablets, 768px and down)
//================

@media (max-width: 768px) {
	.nameLastName {
		flex-direction: column !important;

	}

	.formInputBoxName {
		width: 100% !important;
	}

	.navbar {
		height: auto !important;
		flex-direction: column;
		padding: 20px !important;
		background: $nav-background-color-nav !important;
		z-index: 9990 !important;
		justify-content: flex-start;
	}



	.rightNavbar {
		width: 100%;
		padding: 0 15%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 200px !important;
	}

	.leftNavbar {
		width: 100% !important;
		display: flex;
		justify-content: center;
	}

	.showNavBtn {
		display: block !important;
		position: fixed;
		top: 20px;
		left: 20px;
		z-index: 9999 !important;
	}



	.hide {
		display: none !important;
	}


}

//================
// Extra Small devices (tablets, 600px and down)
//================

@media (max-width: 600px) {
	.submitBtn {
		width: 100% !important;
	}
}

//================
// Extra Small devices (tablets, 450px and down)
//================

@media (max-width: 450px) {
	.error {
		font-size: 8px !important;
	}
}

//=====================******************